---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import { formatDate } from "@/lib/utils";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"posts">;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  image={post.data.image}
>
  <main class="prose dark:prose-invert prose-sm max-w-none mt-8">
    <div class="flex gap-2 justify-between">
      <h1 class="mb-5 text-xl font-medium">
        {post.data.title}
      </h1>
      <span
        class="font-medium text-zinc-500 bg-zinc-100 dark:bg-zinc-700 dark:text-zinc-200 rounded-md px-2 py-0.5 mb-auto whitespace-nowrap text-sm"
      >
        {formatDate(post.data.date)}
      </span>
    </div>
    <article>
      <Content />
    </article>
  </main>
</Layout>
